@import '../variables';
@import '../mixins/readable-content';
@import '../mixins/readable-content-extended-features';
@import '../mixins/smaller';

$collapsedHeight: 1000px;

.wrapper {
  padding: 0.5em 0;
  position: relative;

  .body-wrapper {
    position: relative;
  }

  .body {
    margin: 0.5em 0;

    @include readable-content;
    @include readable-content-extended-features;
  }

  .footer {
    color: $light-grey;
    line-height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include smaller;

    a {
      color: $light-grey;
      text-decoration: none;
    }

    .footer-line {
      margin: 0 1em;
      width: 100%;
    }

    .date {
      white-space: nowrap;
    }
  }

  .admin-control-buttons {
    background-color: transparentize(white, 0.2);
    font-size: 1.3em;
    padding: 0.2em 0.5em;

    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    z-index: 2;

    transition: background-color 150ms linear, opacity 100ms linear;

    &:hover {
      background-color: white;
    }
  }

  &:hover {
    .admin-control-buttons {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.collapsable {
    .body-overlay-gradient {
      opacity: 0;
      pointer-events: none;
      transition: opacity 100ms linear;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20em;

      background: linear-gradient(to top, $white, transparentize($white, 0.3) 75%, $transparent);
    }

    &.collapsed {
      .body {
        height: $collapsedHeight;
        max-height: $collapsedHeight;
        overflow: hidden;
      }

      .body-overlay-gradient {
        opacity: 1;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    &.collapsable {
      .body-overlay-gradient {
        background: linear-gradient(to top, $darker-grey, transparentize($darker-grey, 0.3) 75%, $transparent);
      }
    }

    .footer {
      color: $grey;

      a {
        color: grey;
      }
    }
  }
}
