@import '../../variables';
@import '../../mixins/code';

.wrapper {
  :global {
    .CodeMirror {
      height: 100%;
      @include code;
    }

    .CodeMirror-linenumber {
      transform: translateX(-0.2em);
    }

    .CodeMirror-cursors {
      transform: translateY(0.2em);
    }
  }

  &.readonly {
    margin: 0.5em 0;

    :global {
      .CodeMirror {
        padding: 0.2em 0;
      }

      .CodeMirror-cursors {
        visibility: hidden !important;
      }
    }
  }

  &:not(.readonly) {
    border: 1px solid $light-grey;
    height: 15em;
    resize: vertical;

    &.collapsed {
      height: 5em;
    }
  }
}
