@import '../../variables';
@import '../../mixins/text-overflow-ellipsis';

$width: 15em;
$margin: 2.5em;
$padding: 2em;

.wrapper {
  box-sizing: border-box;
  padding: $padding;
  padding-bottom: 0;

  background-color: $white;
  border: 1px solid $light-grey;

  position: fixed;
  top: $margin;
  left: calc(50% - #{$wrapper-width} / 2 - #{$width} - #{$margin});
  overflow-y: auto;
  max-height: calc(100vh - 2 * #{$margin});
  width: $width;

  &:after {
    content: "";
    display: block;
    height: $padding;
    width: 100%;
  }

  h3 {
    margin-top: 0;
  }

  .block {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .list-item {
    display: flex;
    align-items: center;
  }

  .list-sentence {
    white-space: nowrap;
    @include text-overflow-ellipsis;
  }

  .list-icon {
    color: $grey;
    font-size: 0.7em;
    transform: translate(0.5em, 0.2em);
  }

  .empty {
    color: $grey;
  }

  .loader {
    fill: $light-grey;
    stroke: $light-grey;
  }
}
