@import 'generic-form.module';

.dropzone,
.links-textarea {
  height: 20vh;
}

.links-textarea {
  white-space: pre;
  line-height: 2em;
  padding: 0.7em 1em;
}

.footer {
  justify-content: flex-end;
}
