@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-heavy.woff') format('woff'),
    url('/static/fonts/gilroy-heavy.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
    url('/static/fonts/pt-sans-regular.woff') format('woff'),
    url('/static/fonts/pt-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Bold'),
    url('/static/fonts/pt-sans-bold.woff') format('woff'),
    url('/static/fonts/pt-sans-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans Italic'),
    url('/static/fonts/pt-sans-italic.woff') format('woff'),
    url('/static/fonts/pt-sans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: local('Fira Mono'),
    url('/static/fonts/fira-mono-regular.ttf');
  font-weight: normal;
  font-display: swap;
}
