@import '~normalize.css';
@import '~@fortawesome/fontawesome-svg-core/styles.css';

@import 'fonts';
@import 'variables';
@import 'flag-icons';
@import 'components/ui/lightbox';
@import 'mixins/aspect-ratio';
@import 'mixins/larger';
@import 'mixins/smaller';
@import 'mixins/fatty';
@import 'mixins/error';
@import 'mixins/code';

body {
  background: $smoke-white;
  background-attachment: fixed;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: 1.35em;
  color: $black;
  word-wrap: break-word;

  &.raspberries {
    background-image: url('/static/images/raspberry.gif');
  }
}

h1, h2, h3, h4 {
  font-family: $header-font-family;
}

h1 {
  color: $dark-grey;
  font-size: 1.9em;
  font-weight: 900;
  margin: 1em 0 0.5em 0;
  line-height: 1.1em;
}

h2 {
  font-weight: 700;
  line-height: 1.2em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: $orange;
  text-decoration: underline;
  transition: $link-transition;
  outline: 0;

  &:hover {
    color: lighten($orange, 20%);
    text-decoration: underline;
  }

  &.disabled {
    color: $grey;
    text-decoration: none;
    pointer-events: none;
  }

  &.pointer {
    cursor: pointer;
  }
}

h1, h2 {
  a {
    color: $light-orange;
    text-decoration: none;

    &:hover {
      color: lighten($light-orange, 10%);
      text-decoration: none;
    }
  }
}

p {
  margin: 0.5em 0;
}

li {
  margin: 0.1em 0;
}

p, li, blockquote, .blockquote {
  hyphens: auto;
}

hr {
  border-top: 1px solid $lighter-grey;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

blockquote,
.blockquote {
  color: $grey !important;
  margin: 1em 1.2em !important;
  padding: 2px 5px 5px 10px !important;
  border-left: 3px solid $lighter-grey !important;
}

pre {
  background: $dark-grey;
  color: $white;
  padding: 0.5em 1em;
  white-space: break-spaces;

  @include code;
}

math {
  background-color: $blackboard;
  color: $white;
  font-family: $code-font-family;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
}

ol, ul {
  margin: 0.5em 0;
  padding: 0 0 0 2.5em;

  ol, ul {
    margin: 0.5em 0;
    padding: 0 0 0 2em;
  }
}

cut,
#cut {
  display: none;
}

input,
textarea,
button {
  color: $grey;
  border: 1px solid $light-grey;
  font-family: $main-font-family;
  font-size: 100%;
  outline: none;
  padding: 0.3em;

  &:focus {
    border-color: $orange;
  }

  &:invalid {
    border-color: red;
    box-shadow: none;
  }
}

textarea,
input,
select {
  margin: 0;
  vertical-align: bottom;
}

button {
  background-color: $white;
  padding: 10px 15px;
  border-radius: 0.4em;
  transition: all 100ms linear;

  &:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }
}

button, *[role="button"] {
  transition: all 100ms linear;

  &:active {
    transform: translateY(2px);
  }
}

input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;

}

textarea {
  padding: 1em;
  resize: none;
}

.smaller {
  @include smaller;
}

.larger {
  @include larger;
}

.fatty {
  @include fatty;
}

.error {
  @include error;
}

.nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.margin-left {
  margin-left: 1em;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

@media (max-width: 640px) {
  body {
    font-size: 16px;
    line-height: 1.35em;
  }

  h1 {
    font-size: 1.8em;
  }

  blockquote,
  .blockquote {
    margin: 0.5em 0.5em !important;
  }

  ol, ul {
    padding: 0 0 0 2em;

    ol, ul {
      padding: 0 0 0 1.5em;
    }
  }
}

#header-announcement {
  margin: 0 2em;
  width: auto;
}
