.wrapper {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  filter: blur(2rem);
  transform: scale(1.2);
}
