$smoke-white: #f3f3f3;
$light-grey: #cccccc;
$lighter-grey: #dddddd;
$grey: #666666;
$dark-grey: #434343;
$darker-grey: #262626;
$smoke-black: #141414;
$orange: #f59300;
$light-orange: #ffba01;
$yellowy-grey: #f0eee2;
$yellowy-dark-grey: #403d3b;
$bloody-red: #cc0000;
$blackboard: #086753;
$black: #000000;
$white: #ffffff;
$transparent: rgba(0,0,0,0);

$main-font-size: 18px;
$main-font-family: 'PT Sans', Helvetica, sans-serif;
$header-font-family: 'Gilroy', Verdana;
$code-font-family: 'Fira Mono', monospace;

$link-transition: all 150ms linear;

$wrapper-width: 39em;
$wrapper-padding: 2em;

$commonAspectRatios: 1 1, 2 1, 4 3, 16 9, 16 10, 1 2, 3 4, 9 16, 10 16;
