@import '../../variables';

.wrapper {
  position: absolute;
  left: calc(0.8rem - #{$wrapper-padding});
  top: -0.5rem;

  .button {
    background-color: white;
    background-size: cover;
    background-position: center center;
    background-clip: content-box;
    border: 3px solid $light-grey;
    border-radius: 50%;
    display: block;
    margin: 0.2em 0;
    width: 2rem;
    height: 2rem;
    transition: all 100ms linear;
    transform-origin: center center;

    &:hover {
      border-color: $white;
      box-shadow: 0 0 0 3px $light-orange;
    }
  }
}

@media (max-width: 640px) {
  .wrapper {
    position: relative;
    left: auto;
    top: auto;
    margin-left: 1rem;
    margin-top: 0rem;
    display: flex;

    .button {
      height: 1.7rem;
      width: 1.7rem;
      margin: 0 0.2em;
    }
  }
}
