@mixin multiple-dots($number: 3, $color: $lighter-grey) {
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    $content: " ";

    @for $i from 1 through $number {
      $content: $content + "● ";
    }
    content: $content;

    display: block;
    color: $color;
    font-size: 0.9em;
    white-space: nowrap;
  }
}
