@import 'multiple-dots';

@mixin readable-content {
  hr {
    @include multiple-dots;
    margin: 2em 0;
  }

  .lightbox-image {
    display: block;
    width: 100%;
  }

  @media (max-width: 640px) {
    font-size: 1.2em;
    line-height: 1.35em;
  }
}
