@import 'aspect-ratio';

@mixin readable-content-extended-features {
  :global {
    .strava-activity {
      width: 100%;
      height: 400px;
      margin: 0.5em 0;

      iframe {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 440px) {
        height: 445px;
      }
    }

    .video-16-9 {
      @include aspect-ratio(16, 9);

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .lazy-load-image-wrapper {
      display: block;
      margin: auto;
      position: relative;
      overflow: hidden;

      .lazy-load-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block !important;

        img {
          display: block;
          margin: auto;
        }

        &.lazy-load-image-loaded {
          position: relative;
        }

        &.lazy-load-image-loaded + * {
          display: none;
        }
      }

      .lazy-load-image-placeholder {
        background-color: $lighter-grey;
        display: block;
      }
    }

    @media (max-width: 640px) {
      .lightbox-image,
      .video-16-9,
      .code-editor {
        margin-left: calc((100% - 100vw) / 2);
      }

      .lightbox-image,
      .video-16-9 {
        width: calc(100% + 2em);
      }

      .code-editor {
        width: 100vw;
      }
    }
  }
}
