@mixin three-dots {
  border: none;
  margin: 2em 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "● ● ●";
    display: block;
    color: $light-grey;
    font-size: 0.9em;
  }
}
