@import '../variables';
@import '../mixins/smaller';

.wrapper {
  color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include smaller;

  .icon {
    margin-right: 0.5em;
    height: 1em;
  }

  .text {
    white-space: nowrap;
  }
}
