.wrapper {
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 600px) {
    margin-top: 1em;
  }

  .pagination {
    a {
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }

    @media (max-width: 600px) {
      margin-bottom: 1em;
    }
  }

  :global(#footer-goodness-generator) {
    display: none;
    margin: 2em 0 -1em 0;
    order: 3;

    @media (max-width: 600px) {
      display: flex !important;
      margin: 1em 0 0 0 !important;
    }
  }

  .search-box {
    order: 2;
    width: 35%;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

.without-pagination {
  .pagination {
    display: none;
  }

  :global(#footer-goodness-generator) {
    order: 1;
    justify-content: flex-start;
    margin: 0;
    width: 50%;

    @media (max-width: 600px) {
      justify-content: center;
      order: 2;
      width: 100%;
    }
  }
}
