@import '../variables';

.wrapper {
  color: $light-grey;
  font-size: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  svg {
    height: 1em;
  }

  .text {
    margin-left: 0.5em;
    white-space: nowrap;
  }
}
