@import '../variables';

.header {
  padding: 1.2em 0 3em 0;
  border-bottom: 1px solid $lighter-grey;

  .menu {
    padding: 0;
    margin: 0;

    .menu-item {
      margin: 1.12em 0 0.4em 0;

      .menu-item-content-mobile {
        display: none;
        height: 1em;
        fill: $dark-grey;
      }

      @media (max-width: 640px) {
        margin: 0.5em 0;

        .header-trashbin {
          margin-top: -0.4em;
        }

        .menu-item-content-desktop {
          display: none;
        }

        .menu-item-content-mobile {
          display: block;
        }
      }
    }

    h1 {
      font-size: 1.85em;
    }

    li {
      list-style-type: none;
      margin: 0 1em;
    }

    a {
      color: $dark-grey;
      text-decoration: none;

      &:hover {
        color: lighten($dark-grey, 19%);
        text-decoration: none;
      }
    }
  }

  @media (max-width: 640px) {
    font-size: 1.2em;
    padding: 1.2em 0 2em 0;
  }
}
