@import '../variables';
@import '../mixins/readable-content';
@import '../mixins/readable-content-extended-features';

.wrapper {
  .admin-control-buttons {
    margin-left: 0.6em;
  }

  .title {
    display: flex;
  }

  .title-icon {
    height: 1em;
    margin-left: 0.2em;

    svg {
      fill: $grey;
      height: 100%;
    }
  }

  .body {
    @include readable-content;
    @include readable-content-extended-features;
  }
}
