@import '../variables';

.post.post-complete {
  .post-title {
    padding: 0;

    a {
      color: $light-orange;
      text-decoration: none;

      &:hover {
        color: lighten($light-orange, 10%);
      }
    }
  }

  .post-body {
    margin: 1em 0;

    hr {
      margin: 0.5em 0;
    }
  }

  .post-admin-control-buttons {
    margin-left: 0.6em;
  }

  .post-title-icon {
    margin-left: 0.2em;
    height: 1em;

    svg {
      fill: $grey;
      height: 100%;
    }
  }
}

.post.post-compact {
  margin: 1em 0;

  .post-title {
    margin-top: 0;
  }

  .post-title-icon {
    margin-left: 0.2em;
    height: 1em;
    line-height: 1.7em;

    svg {
      fill: $grey;
      height: 100%;
    }
  }

  .post-date {
    color: $grey;
    margin-left: 1em;
    line-height: 2.1em;
  }
}
