@import '../variables';
@import '../mixins/readable-content';
@import '../mixins/readable-content-extended-features';

.wrapper {
  .admin-control-buttons {
    opacity: 0;
    pointer-events: none;
    transition: opacity 100ms linear;
  }

  &:hover {
    .admin-control-buttons {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  position: relative;
}

.title-icons {
  display: flex;
  margin-left: 0.5em;

  .title-icon {
    color: $grey;
    font-size: 0.7em;
    margin-right: 0.5em;
    margin-top: 0.3em;
  }
}

.body {
  margin: 1em 0;

  @include readable-content;
  @include readable-content-extended-features;
}
