@import '../variables';
@import '../mixins/smaller';

.wrapper {
  border: 1px solid $light-grey;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.3em 0.5em;
  width: 100%;

  @include smaller;

  .icon {
    fill: $light-grey;
    color: $light-grey;
    width: 1em;
    min-width: 1em;
    margin-right: 0.5em;
  }

  .input {
    background: transparent;
    color: $light-grey;
    border: none;
    width: 100%;
    padding: 0;
  }

  &.focused {
    border-color: $orange;

    .input {
      color: $orange;
    }

    .icon {
      color: $orange;
      fill: $orange;
    }
  }
}
