@import '../variables';

.search-box {
  border: 1px solid $light-grey;
  box-sizing: border-box;
  padding: 1px 4px;
  width: 100%;

  .search-box-icon {
    fill: $light-grey;
    width: 1em;
    min-width: 1em;
    margin-right: 0.5em;
  }

  .search-box-input {
    color: $light-grey;
    border: none;
    font-family: $main-font-family;
    width: 100%;
  }

  &.search-box-focused {
    border-color: $orange;

    .search-box-input {
      color: $orange;
    }

    .search-box-icon {
      fill: $orange;
    }
  }
}
