@import '../variables';
@import '../mixins/smaller';

.wrapper {
  margin: 1em 0;
  background-color: $yellowy-grey;
  padding: 0.7em;

  @include smaller;

  .header {
    color: $dark-grey;
    font-size: 1.2em;
    line-height: 1em;
    margin: 0.2em 0 0.7em 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header-item {
    white-space: nowrap;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 0.5em;
  }
}
