@import '../variables';

.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .tag {
    display: block;
    padding: 0 0.2em;
    margin: 0;
    line-height: 1em;
    text-decoration: none;
    transition: all 100ms linear;

    &.tag-shaking {
      color: $dark-grey;
    }
  }
}
