@import '../variables';

.trash-post {
  padding: 0.5em 0;

  .trash-post-footer {
    color: $light-grey;
    line-height: 1em;

    a {
      color: $light-grey;
      text-decoration: none;
    }

    .trash-post-footer-line {
      margin: 0 1em;
    }
  }
}
