@import '../variables';

.trash-post {
  padding: 0.5em 0;
  position: relative;

  .trash-post-body {
    margin: 0.5em 0;
  }

  .trash-post-footer {
    color: $light-grey;
    line-height: 1em;

    a {
      color: $light-grey;
      text-decoration: none;
    }

    .trash-post-footer-line {
      margin: 0 1em;
    }
  }

  .trash-post-admin-control-buttons {
    background-color: transparentize(white, 0.2);
    font-size: 1.3em;
    padding: 0.2em 0.5em;

    position: absolute;
    right: 0;
    z-index: 2;

    transition: background-color 150ms linear;

    &:hover {
      background-color: white;
    }
  }
}
