@import '../variables';

$shadow-height: 6px;

.wrapper {
  background-color: $white;
  border: 1px solid $light-grey;
  box-sizing: border-box;

  width: $wrapper-width;
  margin: 1em auto 2em auto;
  padding: $wrapper-padding;
  position: relative;

  transition: width 200ms linear;

  .wrapper-shadow {
    $width: 97%;

    background-color: $black;
    opacity: 0.6;

    width: 80%;
    height: $shadow-height;

    position: absolute;
    bottom: -$shadow-height;
    left: calc((100% - #{$width}) / 2);
    width: $width;
  }
}

@media (max-width: calc(#{$wrapper-width} + #{$wrapper-padding} * 2 + 2em)) {
  .wrapper {
    width: calc(100% - 3em);
  }
}

@media (max-width: 640px) {
  .wrapper {
    width: 100%;
    border: none;

    margin: 0;
    padding: 1em;
    overflow: hidden;
  }
}
