@import '../variables';

$shadow-height: 6px;

.wrapper {
  background-color: $white;
  border: 1px solid $light-grey;
  box-sizing: border-box;
  overflow: hidden;

  width: 43em;
  margin: 1em auto 1.8em auto;
  padding: 1.8em;
  position: relative;

  transition: width 200ms linear;

  .wrapper-shadow {
    $width: 97%;

    background-color: $black;
    opacity: 0.6;

    width: 80%;
    height: $shadow-height;

    position: absolute;
    bottom: -$shadow-height;
    left: calc((100% - #{$width}) / 2);
    width: $width
  }

  .raspberries {
    background-image: url('/static/images/raspberry.gif');
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
  }
}

@media (max-width: 640px) {
  .wrapper {
    width: calc(100% - 2em);
  }
}
