@import '../../variables';

.wrapper {
  display: flex;
  align-items: center;

  .button {
    cursor: pointer;
    margin-left: 0.3em;
    padding: 0;
    border: none;
    font-size: 0.9em;

    a {
      color: $grey;
    }

    &:first-child {
      margin-left: 0em;
    }

    &:hover {
      a {
        color: lighten($grey, 20%);
      }
    }
  }

  .button-edit {
    font-size: 0.7em;
  }

  .popup-buttons-wrapper {
    display: flex;

    > button {
      width: 50%;

      &:last-child {
        margin-left: 1em;
      }
    }
  }
}
