@import '../../variables';

.wrapper {
  display: flex;
  align-items: center;

  .button {
    cursor: pointer;
    margin-left: 0.3em;
    padding: 0;
    border: none;

    &:first-child {
      margin-left: 0;
    }

    svg {
      fill: $grey;
      height: 0.7em;
      transition: fill 200ms linear;
    }

    &:hover {
      svg {
        fill: lighten($grey, 20%);
      }
    }
  }

  .popup-buttons-wrapper {
    display: flex;

    > button {
      width: 50%;

      &:last-child {
        margin-left: 1em;
      }
    }
  }
}
