@import '../../variables';
@import '../../mixins/multiple-dots';

.wrapper {
  cut {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $grey;
    margin: 0.5em 0;
  }

  p, li, blockquote, .blockquote {
    hyphens: none;
  }

  pre {
    background: $dark-grey;
    color: $white;
    white-space: break-spaces;
  }

  hr {
    @include multiple-dots;

    margin: 2em 0;
  }

  .loader {
    fill: $orange;
    width: 3em;
  }

  :global(.fr-wrapper) {
    a[href*="froala.com/wysiwyg-editor?k=u"] {
      display: none !important;
    }
  }
}
