@import '../../variables';

.editor-wrapper {
  cut {
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed $grey;
    margin: 0.5em 0;
  }

  .fr-wrapper {
    a[href*="froala.com"] {
      display: none !important;
    }
  }

  pre {
    background: $dark-grey;
    color: $white;
  }
}
