@import '../../mixins/form';
@import '../../mixins/smaller';
@import '../../mixins/text-overflow-ellipsis';

.form {
  @include form;
}

.slug {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @include smaller;

  .slug-input {
    width: 50%;
  }

  .slug-preview {
    margin-left: 1em;
    white-space: nowrap;
    width: 50%;
    @include text-overflow-ellipsis;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .date {
    text-align: center;
    margin-right: 1em;
    width: 50%;
  }

  .options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }

  .submit-button {
    width: 30%;
  }
}
