@import '../../variables';

$width: 15em;
$margin: 3em;

.admin-panel {
  box-sizing: border-box;
  padding: 1.8em;

  background-color: $white;
  border: 1px solid $light-grey;

  position: fixed;
  top: $margin;
  left: calc(50% - #{$wrapper-width} / 2 - #{$width} - #{$margin});
  width: $width;

  h3 {
    margin-top: 0;
  }

  .admin-panel-block {
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .admin-panel-list-sentence {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .admin-panel-list-icon {
    height: 1em;
    margin-left: 0.2em;

    svg {
      fill: $dark-grey;
      height: 100%;
    }
  }
}
