@import '../../variables';

.upload-files-form {
  .upload-files-form-dropzone,
  .upload-files-form-links-textarea {
    height: 20vh;
  }

  .upload-files-form-links-textarea {
    white-space: pre;
    line-height: 2em;
    padding: 0.7em 1em;
  }
}
