@import '../../variables';

.wrapper {
  .native {
    display: block;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .label-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .label {
    margin-left: 0.5em;
  }

  .square {
    border: 1px solid $light-grey;
    fill: $grey;
    box-sizing: border-box;
    width: 1em;
    height: 1em;

    svg {
      margin-bottom: 1px;
    }
  }

  &:hover {
    .square {
      border-color: $orange;
    }
  }
}
