@import '../../variables';
@import '../../mixins/smaller';

.lg-backdrop {
  background-color: transparentize($white, 0.15) !important;
}

.lightbox {
  &.lg-outer {
    .lg-item:not(.lg-complete) {
      background-image: url('/static/icons/circle.svg');
      background-repeat: none;
      background-position: center center;
      background-size: 3em;
      filter: invert(50%);
    }

    .lg-img-wrap {
      padding: 0;
    }
  }

  .lg-sub-html {
    background-color: transparent;
    color: $black;
    display: flex;
    justify-content: center;
    padding: 0;

    @include smaller;

    .lightbox-image-caption {
      background-color: transparentize($white, 0.15);
      padding: 1em 1.5em;
      transition: background-color 100ms linear;

      &:hover {
        background-color: $white;
      }
    }
  }

  .lg-object {
    background-color: white;
  }

  .lg-toolbar {
    background: none;

    #lg-counter {
      color: $dark-grey;
      @include smaller;
    }
  }

  .lg-toolbar,
  .lg-actions {
    @supports (-moz-appearance: none) {
      -webkit-text-stroke: 3px $white;
      paint-order: stroke fill markers;
    }
  }

  .lg-toolbar .lg-icon,
  .lg-actions .lg-next,
  .lg-actions .lg-prev {
    background: none;
    color: transparentize($grey, 0.3);
    font-size: 1.5em;

    &:hover {
      color: $dark-grey;
    }
  }

  @media (orientation: portrait), (max-width: 640px) {
    .lg-actions {
      display: none;
    }
  }
}
