@import '../../variables';
@import '../../mixins/smaller';

.wrapper {
  margin-top: 1em;
  cursor: default;
}

.form-wrapper {
  position: relative;

  &.loading {
    height: 7em;
    margin-top: 2em;
    overflow: hidden;

    .loader {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.loader {
  background-color: white;
  color: $grey;
  text-align: center;
  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  pointer-events: none;
  user-select: none;
  transition: all 300ms linear;

  @include smaller;

  .loader-animation {
    fill: $light-grey;
    stroke: $light-grey;
    margin-top: 1em;
  }
}
