@import '../../variables';

$vertical-padding: 0.28em;
$horizontal-padding: 0.6em;
$item-horizontal-margin: 0.8em;

.post-footer {
  background-color: $yellowy-grey;
  line-height: 1.55em;
  padding: 0 $horizontal-padding;
  overflow: hidden;
  position: relative;

  @media (max-width: 640px) {
    flex-wrap: wrap;
    font-size: 1em;
    padding: 0.5em;
  }

  .post-footer-item {
    padding: $vertical-padding 0;
    margin-left: $item-horizontal-margin;
    margin-right: $item-horizontal-margin;

    @media (max-width: 640px) {
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .post-footer-icon {
    fill: $dark-grey;
  }

  .post-footer-comments-icon {
    width: 1.2em;
    min-width: 1.2em;
  }

  .post-footer-date-icon {
    width: 1.1em;
    min-width: 1.1em;
  }

  .post-footer-tags {
    background-color: $yellowy-grey;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 640px) {
      &:hover {
        +.post-footer-social-wrapper,
        +.post-footer-social-wrapper * {
          transition: opacity 300ms linear;
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  .post-footer-social {
    font-size: 0.85em;
    opacity: 1;
    pointer-events: all;
    transition: opacity 100ms linear;

    @media (min-width: 640px) {
      position: absolute;
      top: 0;
      right: 0;
      background: linear-gradient(to left, $yellowy-grey, $yellowy-grey 70%, transparent);
      padding-left: 3.5em;
      padding-right: $horizontal-padding;
    }

    .jssocials-shares {
      margin: 0;

      * {
        margin: 0 2px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
