@import '../../variables';
@import '../../mixins/smaller';
@import '../../mixins/text-overflow-ellipsis';

$wrapper-padding: 0.6em;
$item-horizontal-margin: 0.6em;

.wrapper {
  background-color: $yellowy-grey;
  display: flex;
  line-height: 1.55em;
  padding: 0 $wrapper-padding;
  overflow: hidden;
  position: relative;
  @include smaller;

  @media (max-width: 640px) {
    flex-wrap: wrap;
    font-size: 1em;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
  }
}

.item {
  padding: 0.3em;
  margin-left: $item-horizontal-margin;
  margin-right: $item-horizontal-margin;

  @media (max-width: 640px) {
    padding: 0.1em;
  }
}

.icon {
  fill: $dark-grey;
}

.icon-label {
  margin-left: 0.5em;
  white-space: nowrap;
}

.comments {
  display: flex;
  align-items: center;
  @extend .item;

  .comments-icon {
    width: 1.2em;
    min-width: 1.2em;
    @extend .icon;
  }
}

.date {
  display: flex;
  align-items: center;
  @extend .item;

  .date-icon {
    width: 1.1em;
    min-width: 1.1em;
    @extend .icon;
  }
}

.tags {
  white-space: nowrap;

  @extend .item;
  @include text-overflow-ellipsis;
}
