@import 'aspect-ratio';

@mixin readable-content-extended-features {
  :global {
    .strava-activity {
      width: 100%;
      height: 400px;
      margin: 0.5em 0;
    }

    .aspect-ratio-16-9,
    .video-16-9 {
      @include aspect-ratio(16, 9);
    }

    .aspect-ratio-16-10 {
      @include aspect-ratio(16, 10);
    }

    .aspect-ratio-4-3 {
      @include aspect-ratio(4, 3);
    }

    .aspect-ratio-2-1 {
      @include aspect-ratio(2, 1);
    }

    .aspect-ratio-1-1 {
      @include aspect-ratio(1, 1);
    }

    .lazy-load-image-wrapper {
      display: block;
      margin: auto;
      position: relative;
      overflow: hidden;

      .lazy-load-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block !important;

        img {
          display: block;
          margin: auto;
        }

        &.lazy-load-image-loaded {
          position: relative;
        }

        &.lazy-load-image-loaded + * {
          display: none;
        }
      }

      .lazy-load-image-placeholder {
        background-color: $lighter-grey;
        display: block;
      }
    }

    @media (max-width: 640px) {
      .expendable-widget {
        margin-left: calc((100% - 100vw) / 2) !important;
        width: calc(100% + 2em);
      }
    }
  }
}
