@import 'multiple-dots';

@mixin readable-content {
  hr {
    @include multiple-dots;
    margin: 2em 0;
  }

  :global {
    .lightbox-image {
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    font-size: 1.05em;
    line-height: 1.35em;
  }
}
