@import 'aspect-ratio';
@import '../variables';

@mixin readable-content-extended-features {
  :global {
    .strava-activity {
      width: 100%;
      height: 400px;
      margin: 0.5em 0;
    }

    .video-16-9 {
      @include aspect-ratio(16, 9);
    }

    @each $aspectRatio in $commonAspectRatios {
      $width: nth($aspectRatio, 1);
      $height: nth($aspectRatio, 2);

      .aspect-ratio-#{$width}-#{$height} {
        @include aspect-ratio($width, $height);
      }
    }

    .lazy-load-image-wrapper {
      display: block;
      margin: auto;
      position: relative;
      overflow: hidden;

      .lazy-load-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block !important;

        img {
          display: block;
          margin: auto;
        }

        &.lazy-load-image-loaded {
          position: relative;
        }

        &.lazy-load-image-loaded + * {
          display: none;
        }
      }

      .lazy-load-image-placeholder {
        background-color: $lighter-grey;
        display: block;
      }
    }

    @media (max-width: 640px) {
      .expendable-widget {
        margin-left: calc((100% - 100vw) / 2) !important;
        width: calc(100% + 2em);
      }
    }
  }
}
