@import './variables';

body {
  background: $smoke-white;
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.35em;
  color: $black;

  @media (max-width: 640px) {
    font-size: 12px;
  }
}

h1 {
  font-family: $header-font-family;
  color: $dark-grey;
  font-size: 1.7em;
  margin: 1.12em 0 0.4em 0;
  line-height: 1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 3pt;
}

img {
  max-width: 100%;
}

a {
  color: $orange;
  text-decoration: underline;
  transition: $link-transition;

  &:hover {
    color: lighten($orange, 20%);
    text-decoration: underline;
  }
}

p {
  margin: 0.5em 0;
}

hr {
  border-top: 1px solid $lighter-grey;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

blockquote {
  color: #666666;
  margin: 0 20px;
  padding: 2px 5px 5px 10px;
  border-left: 3px solid $grey;
}

svg {
  width: auto;
  height: auto;
}

.caption {
  font-size: 0.75em;
}

.nowrap {
  white-space: nowrap;
}
