@import 'variables';

@font-face {
  font-family: 'Movavi Grotesque';
  src: url('/static/fonts/movavi-grotesque.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-reqular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-italic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/static/fonts/fira-mono-regular.ttf');
  font-weight: normal;
  font-display: swap;
}

body {
  background: $smoke-white;
  background-attachment: fixed;
  font-family: $main-font-family;
  font-size: $main-font-size;
  line-height: 1.35em;
  color: $black;
  margin: 0;
  padding: 0;
  word-wrap: break-word;

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 1.45em;
  }

  &.raspberries {
    background-image: url('/static/images/raspberry.gif');
  }
}

h1 {
  font-family: $header-font-family;
  color: $dark-grey;
  font-size: 1.7em;
  margin: 1.12em 0 0.4em 0;
  line-height: 1.1em;
}

h2 {
  line-height: 1.2em;
}

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: $orange;
  text-decoration: underline;
  transition: $link-transition;

  &:hover {
    color: lighten($orange, 20%);
    text-decoration: underline;
  }

  &.disabled {
    color: $grey;
    text-decoration: none;
    pointer-events: none;
  }

  &.pointer {
    cursor: pointer;
  }
}

h1, h2 {
  a {
    color: $light-orange;
    text-decoration: none;

    &:hover {
      color: lighten($light-orange, 10%);
      text-decoration: none;
    }
  }
}

p {
  margin: 0.5em 0;
}

li {
  margin: 0.1em 0;
}

p, li, blockquote, .blockquote {
  hyphens: auto;
}

hr {
  border-top: 1px solid $lighter-grey;
  border-right: none;
  border-bottom: none;
  border-left: none;
  height: 1px;
  margin: 0;
  padding: 0;
}

blockquote,
.blockquote {
  color: $grey !important;
  margin: 1em 1.2em !important;
  padding: 2px 5px 5px 10px !important;
  border-left: 3px solid $lighter-grey !important;
}

pre {
  font-family: $code-font-family;
  font-size: 0.8em;
  padding: 0.5em 1em !important;
}

svg {
  width: auto;
  height: auto;
}

ol, ul {
  margin: 0.5em 0;
  padding: 0 0 0 2.5em;

  ol, ul {
    margin: 0.5em 0;
    padding: 0 0 0 2em;
  }

  @media (max-width: 640px) {
    padding: 0 0 0 2em;

    ol, ul {
      padding: 0 0 0 1.5em;
    }
  }
}

cut,
#cut {
  display: none;
}

input,
textarea,
button {
  color: $grey;
  border: 1px solid $light-grey;
  font-family: $main-font-family;
  outline: none;
  padding: 0.3em;

  &:focus {
    border-color: $orange;
  }

  &:invalid {
    border-color: red;
    box-shadow: none;
  }
}

button {
  background-color: $white;
  padding: 10px 15px;
  border-radius: 0.4em;
  transition: all 100ms linear;

  &:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white;
  }
}

button, *[role="button"] {
  transition: all 100ms linear;

  &:active {
    transform: translateY(2px);
  }
}

input[type="text"],
textarea {
  width: 100%;
  box-sizing: border-box;

}

textarea {
  padding: 1em;
  resize: none;
}

.smaller {
  font-size: 0.75em;
}

.larger {
  font-size: 1.15em;
}

.nowrap {
  white-space: nowrap;
}

.fatty {
  padding: 2em;
}

.error {
  color: $bloody-red;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.form {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: minmax(0, 1fr);
}

.margin-left {
  margin-left: 1em;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-translation-link {
  margin: 0 0.5em;
}

.video-16-9 {
  @include aspect-ratio(16, 9);

  iframe {
    width: 100%;
    height: 100%;
  }
}

.strava-activity {
  width: 100%;
  height: 400px;
  margin: 0.5em 0;

  iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 440px) {
    height: 445px;
  }
}

.lightbox-image {
  width: 100%;
}

.lazy-load-image-wrapper {
  display: block;
  margin: auto;
  position: relative;
  overflow: hidden;

  .lazy-load-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block !important;

    img {
      display: block;
      margin: auto;
    }

    &.lazy-load-image-loaded {
      position: relative;
    }

    &.lazy-load-image-loaded + * {
      display: none;
    }
  }

  .lazy-load-image-placeholder {
    background-color: $lighter-grey;
    display: block;
  }
}
