@font-face {
  font-family: 'Gilroy';
  src: url('/static/fonts/gilroy-heavy.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-reqular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-bold.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/static/fonts/pt-sans-italic.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Mono';
  src: url('/static/fonts/fira-mono-regular.ttf');
  font-weight: normal;
  font-display: swap;
}
