@font-face {
  font-family: 'Movavi Grotesque';
  src: url(/static/fonts/movavi-grotesque.ttf);
}

@font-face {
  font-family: 'PT Sans';
  src: url(/static/fonts/pt-sans-reqular.ttf);
}

@import 'normalize.css';

@import './angular-material/angular-material.layouts';
@import './components/nprogress';

@import './base';
@import './components/wrapper';
@import './components/content';
@import './components/header';
@import './components/header/trashbin';

@import './components/post';
@import './components/post/footer';
@import './components/post/comment-form';

@import './components/trash-post';
