@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=cyrillic-ext,latin-ext);
@import url(https://poohitan.com/templates/MovaviGrotesque.ttf);
@font-face {
  font-family: MovaviGrotesque;
  src: url('/static/fonts/MovaviGrotesque.ttf');
}

@import 'normalize.css';

@import './angular-material/angular-material.layouts';
@import './base';
@import './components/wrapper';
@import './components/content';
@import './components/header';
@import './components/header/trashbin';
@import './components/post';

// #menu {
//   font-family: 'Movavi Grotesque', MovaviGrotesque, Verdana;
//   font-size:26px;
//   margin: 25px 0px 35px 0;
// }
// #menu a {
//   color: #434343;
//   text-decoration: none;
// }
// #menu a:hover {
//   color: #747474;
//   text-decoration: none;
// }
// #menu .item {
//     display: inline-block;
//     padding: 0 12px;
//     line-height: 34px;
// }
// #footer {
//   margin-top: 15px;
// }
// #shadow {
//   background: url('shadow.png');
//   width: 580px;
//   height: 10px;
//   position: absolute;
//   left: 50%;
//   margin-left: -290px;
//   margin-top: -30px;
//   z-index: -999;
// }
// #trashbin {
//   width: 26px;
//   height: 35px;
//   background-image: url(trashbin.png);
//   background-position: 0 0;
//   background-repeat: no-repeat;
// }
// #trashbin:hover {
//   background-image: url(trashbin.png);
//   background-position: 0 -35px;
//   background-repeat: no-repeat;
// }
// #pages_navigation {
//   font-size: 12pt;
// }
// input {
//   border: solid 1px #a5a5a5;
//   padding: 3px;
//   color: #666666;
// }
// input:focus {
//   border: solid 1px #f59300;
//   color: #f59300;
// }
// input[type="submit"] {
//   padding: 10px 20px;
//   background: #f3f3f3;
//   color: #000000;
//   font-size: 12pt;
// }
// input[type="submit"]:hover {
//   background: #ffffff;
//   color: #f59300;
//   border: solid 1px #f59300;
// }
// input[type="checkbox"] {
//   padding: 2px;
//   background: #ffffff;
//   border: solid 1px #a5a5a5;
// }
// #search input {
//   background: url('search.png') no-repeat 3px 4px;
//   border: solid 1px #a5a5a5;
//   padding: 2px 2px 2px 18px;
//   color: #bebab4;
// }
// #search input:focus {
//   background: url('search.png') no-repeat 3px -18px;
//   border: solid 1px #f59300;
//   color: #ffba01;
// }
// /******************************/

// /*************** Запис ***************/
// .post {
//   margin: 15px 0;
//   text-align: left;
// }
// .post h1 a {
//   color: #ffba01;
//   text-decoration: none;
// }
// .post h1 a:hover {
//   color: #ffce47;
//   text-decoration:none;
// }
// .post p {
//   margin-top: 0.5em;
//     margin-bottom: 0.8em;
// }
// .post img {
//   max-width: 550px;
//   border: none;
// }
// .post ul {
//   margin-left: 20px;
//   padding: 0;
// }
// .post ol {
//   margin-left: 20px;
//   padding: 0;
// }
// .post li {
//   margin-left: 20px;
//   padding: 0;
// }
// .post li img {
//   max-width: 510px;
// }
// .post .entry {
//   padding-bottom: 10px;
//   text-align: left;
// }
// .post .pastebin {
//   visibility: hidden;
//   padding: 0;
//   margin: 0;
//   height: 0px;
// }
// #comments {
//   margin-bottom: 15px;
// }
// /******************************/

// /*************** Панелька під записами ***************/
// .stuff {
//   background-color: #f0eee2;
//   color: #000000;
//   font-size: 8pt;
//   /*height: 14px;*/
//   padding: 4px 6px;
//   overflow: visible;
//   line-height: 14px;
// }
// .stuff .comments {
//   background-image: url('comments.png');
//   background-repeat: no-repeat;
//   background-position: 2px 0px;
//   padding-left: 22px;
//   float: left;
// }
// .stuff .date {
//   background-image: url('date.png');
//   background-repeat: no-repeat;
//   background-position: 2px -1px;
//   padding-left: 22px;
//   margin-left: 15px;
//   float: left;
// }
// .stuff .category {
//   margin-left: 15px;
//   float: left;
//   width: 165px; /* 155px? */
//   white-space: nowrap;
// }
// .stuff .category:hover {
//   overflow: visible;
// }
// .stuff .social {
// /*  margin-left: 15px; */
//   float: right;
// }
// .stuff .social a {
//   text-decoration: none;
//   padding: 0;
//   margin: 0;
// }
// .stuff .social .twitter {
//   background:url('social.png');
//   background-repeat:no-repeat;
//   background-position:0 -20px;
//   padding: 0 8px;
//   margin: 0 3px;
// }
// .stuff .social .twitter:hover {background-position:-20px -20px;}
// .stuff .social .vkontakte {
//   background:url('social.png');
//   background-repeat:no-repeat;
//   background-position:0 0;
//   padding: 0 8px;
//   margin: 0 3px;
// }
// .stuff .social .vkontakte:hover {background-position:-20px 0;}
// .stuff .social .facebook {
//   background:url('social.png');
//   background-repeat:no-repeat;
//   background-position:0 -40px;
//   padding: 0 8px;
//   margin: 0 3px;
// }
// .stuff .social .facebook:hover {background-position:-20px -40px;}
// .stuff .social .gplus {
//   background:url('social.png');
//   background-repeat:no-repeat;
//   background-position:0 -60px;
//   padding: 0 8px;
//   margin: 0 0 0 3px;
// }
// .stuff .social .gplus:hover {background-position:-20px -60px;}
// /******************************/

// /*************** Адмінка і всяка туфта, видима тільки адміністратору ***************/
// #admin {
//   max-width: 175px;
//   position: fixed;
//   left: 50%;
//   margin-left: -525px;
//   top: 50px;
//   padding: 5px 10px;
//   border: 1px solid #dddddd;
//   background: #ffffff;
// }
// #admin h3 {
//   padding: 0;
//   margin: 0;
// }
// #admin div {
//   padding: 5px;
// }
// .pastebin {
//   background: #dddddd;
//   width: 530px;
//   padding: 5px 10px;
// }
// #login {
//   position:fixed;
//   right: 0;
//   top: 0;
// }
// #cut {
//   text-align: left;
// }
// #cut #scissors{
//   padding: 3px 0;
// }
// .post #cut #scissors {
//   visibility: hidden;
//   height: 0;
//   padding: 0;
//   margin: 0;
// }
// /* Стилі для чекбоксів в формі додавання запису */
// #extra input[type="checkbox"] {
//     position: absolute;
//     left: -9999px;
// }
// #extra input[type="checkbox"] + label {
//     background: url(checkbox.png) no-repeat 0 0;
//     padding-left: 20px;
// }
// #extra input[type="checkbox"]:checked + label {
//     background: url(checkbox.png) no-repeat 0 -26px;
// }
// #time input[type="checkbox"] {
//     position: absolute;
//     left: -9999px;
// }
// #time input[type="checkbox"] + label {
//     background: url(checkbox.png) no-repeat 0 0;
//     padding-left: 20px;
// }
// #time input[type="checkbox"]:checked + label {
//     background: url(checkbox.png) no-repeat 0 -26px;
// }
// /******************************/

// /*************** Смітник ***************/
// .item {
//   margin: 15px 0;
// }
// .item .staff {
//   font-size: 7pt;
//   margin-top: 5px;
// }
// .item .staff a {
//   text-decoration: none;
//   color: #999999;
// }
// .item img {
//   max-width: 550px;
//   border: none;
// }
// .item .staff .date {
//   color: #999999;
//   margin-top: 3px;
//   padding-left: 3px;
// }
// .item hr {
//   width: 100%;
//   margin-top: 4px;
// }
// .item .pastebin {
//   visibility: hidden;
//   padding: 0;
//   margin: 0;
//   height: 0px;
// }
// #updown {
//   width: 50px;
//   height: 100%;
//   padding-top: 25px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   cursor: pointer;
//   text-align: center;
//   text-decoration: none;
// }
// #updown.up {
//   background: #fff;
//   background-image:url('up.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   opacity: 0.7;
// }
// #updown.down {
//   background: #fff;
//   background-image:url('down.png');
//   background-repeat: no-repeat;
//   background-position: center;
//   opacity: 0.7;
// }

// .clearfix {
//     clear: both;
// }
// /******************************/
