$smoke-white: #f3f3f3;
$light-grey: #cccccc;
$lighter-grey: #dddddd;
$grey: #666666;
$dark-grey: #434343;
$orange: #f59300;
$light-orange: #ffba01;
$yellowy-grey: #f0eee2;
$black: #000000;
$white: #ffffff;

$main-font-size: 14px;
$main-font-family: 'PT Sans', Helvetica, sans-serif;
$header-font-family: 'Movavi Grotesque', Verdana;
$code-font-family: 'Fira Mono', monospace;

$link-transition: all 150ms linear;

$wrapper-width: 43em;
