$smoke-white: #f3f3f3;
$light-grey: #cccccc;
$lighter-grey: #dddddd;
$grey: #666666;
$dark-grey: #434343;
$orange: #f59300;
$black: #000000;
$white: #ffffff;

$main-font-family: 'PT Sans', Verdana, Helvetica, sans-serif;
$header-font-family: 'Movavi Grotesque', MovaviGrotesque, Verdana;
